@font-face {
    font-family: 'roboto';
    src: url('#{resource["css:fonts/Roboto-Regular.ttf"]}');
    src: url('#{resource["css:fonts/Roboto-Regular.ttf"]}') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;

}

:root {
    --hex-proyects-height: 500px;
  }

*{
    padding: 0;
    margin: 0;
   
}

html{
    height: 100%;
 
    
}

body{
    font-family: "roboto", Arial, Helvetica, sans-serif;
    color: black;
    display: grid;
    height: 100%;
    margin-bottom: 100px;
    grid-template-columns: 100%;
    grid-template-rows: 120px 150px auto;
}
 


nav{
    color: #fff;
    background-color: #000;
    grid-column: 1;
}

.burguer{
    overflow: hidden;
    background-color: #000;
    position: relative;
    width: 50px;
    height: 50px;
    float: left;
    text-align: center;
    border: 2px solid rgb(32, 32, 32);;
}



.burguer a{
    color: white;
    text-decoration: none;
    font-size: 35px;
    display: block;
}

.burguer i{
    margin: 0 auto;
}

#links{
    display: none;
    width: 120px;
    position: absolute;
    background-color: black;
    margin-top: 45px;
    border: 2px solid rgb(32, 32, 32);
    left: 32px;
}

.burguer #links a{
    font-size: 15px !important;
}



header{
    background-color: rgb(32, 32, 32);
    text-align: center;
    padding: 50px;
    color: #fff;
    min-height:150px;
    grid-column: 1;
}

ul{
    list-style: none;   
    padding-top: 10px; 
}

ul .desktop{
    width: 400px;
    margin-top: 15px;
    position: absolute;
}

li{
    display: inline-block;
    padding: 10px;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
}

h3{
    padding: 3px;
    margin-top: 10px;
}

span{
    display: inline-block;
    padding: 3px;
}

.last-one{
    margin-bottom: 10px;
}

.card{
    margin-top: 30px;
}

/* Estilos en la imagen de perfil*/

#container-profile{
    margin-top: -3%;
    text-align: center;
}

#border-profile{
    border-radius: 100%;
    border: #202020 solid 1px;
    width: 270px;
    height: 250px;
    margin: 0 auto;
    text-align: center;
    padding-top: 10px;
    background-color: #fff;
}

#icon-title{
    margin-top: 10px;
    height: 50px;
}


#profile-pic{
    border-radius: 100%;
    width: 245px;
    height: 227px;
    margin: 0 auto;
}

i{
    padding: 5px;
    margin-top: 15px;
}

.icons i:hover{
    color:rgb(1, 55, 92);
}

.selected{
    color:rgb(1, 55, 92);
}

.description{
    font-size: 20px;
}


/* Estilo skills */

#skills span{
    width: 20%;
}

.empty-skill{
    width: 50%;
    height: 17px;
    background-color: rgb(126, 125, 125);
    display: inline-block;
    border-radius: 20px;
    margin-left: 20px;
}

.level-skill{
  
    height: 16.8px;
    background-color: rgb(1, 55, 92);
    display: inline-block;
    border-radius: 20px;
    padding: 6px;   
 
}

.w100{
    width: 100%;
}

.w85{
    width: 85%;
}

.w75{
    width: 75%;
}

.w65{
    width: 65%;
}

.w50{
    width: 50%;
}

.w35{
    width: 35%;
}

.custom-grid-container{

    display: grid;
    grid-template-columns: 25% 75%;
    grid-column: 1;
    height: 100%;
    width: 100%;

    
}

.grid-maxWidth{
    grid-column: 1/3;
}

/*Estilo footer*/

footer{
    position: relative;
    width: 100%;
    background-color: #000;
    min-height: 60px;
    color: #fff;
    text-align: center; 
    grid-column: 1/3;
    grid-row: 9;
    align-self: end;
    margin-top: 10px;
 
}

.pFooter{
    margin-top: 20px;
}

.toggle-lang{
    float: right;
}

.toggle-lang img{
    width: 50px;
    padding: 10px;
}

.toggle-button{
    border: 0;
    border-radius: 20px;
}

.button-indicator{
    height: 15px;
    width: 35px;
    border-radius: 20px;
    background-color: rgb(6, 97, 6);
    display: flow-root;
   
}

#ball, #ball-en{
    height: 20px;
    width: 20px;
    border-radius: 100px;
    background-color: #757575;
    margin-top: -2px;

}

.card{
    width: 98%;
    margin: 0 auto;
    margin-top: 10px;
}



.card .last-one{
    margin-bottom: 70px !important;
}

.enball{
    float: right;
}

.form-container{
    width: 85%;
    margin: 20px auto !important;
    text-align: center;
 
}

label{
    width: 65px;
}

label, input{
    margin-top: 20px;
}

.textarea-container{
    width: 255px;
    margin: 0 auto;
}

.textarea-container label{
    float: left;
    width: 75px;
}


textarea{
    resize: none;
    width: 100%;
    height: 200px;
    margin-top: 10px;
    border: 1px solid;
}

#char-counter{
    color: grey;
    float: left;
}

.forbidden{
  
    border: 2px solid rgb(228, 9, 9);
    position: relative;
    animation: shake .1s linear;
    animation-iteration-count: 3;
      
}

.send-btn{
    display: block;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 15px;
    width: 100px;
    height: 50px;
    
}

.proyects{
    text-align: center;
    height: var(--hex-proyects-height);
}

.proyects h2{
    display: inline-block;
    width: 400px;
    margin: 0 auto;
    margin-top: calc(var(--hex-proyects-height) * 0.5);
}

@keyframes shake {
    0% { left: -5px; }
    100% { right: -5px; }
}

@media (max-width: 1000px) {

    .desktop-profile{

        grid-column: 1/3;
        
    }

    .card{
        grid-column: 1/3;
    }

    #container-profile {
        margin: 0 auto;
        margin-top: -6%;
        width: 270px;     
    }

    #icon-title{
        height: 90px;
    }

    .mobile{
        display: block;
    }

    .desktop{
        display: none;
    }
    
    footer{
        grid-row: 10;
    }

}

@media (min-width: 1001px){


    .custom-grid-container{

    
        grid-template-rows: auto auto auto auto auto auto auto auto 70px;
     
        
    }

    #container-profile{
        height: 400px;
    }

    h2{
        font-size: 1.25rem;
    }

    .desktop-profile{
        background-color: rgb(32, 32, 32);
        height: 100%;
        color: #fff;
        text-align: center;
        grid-row: 1/10;
        grid-column: 1;
        min-width: 100%;
    }

    #border-profile{
       
        width: 90%;
        height: 80%;
       
    }
 
    #profile-pic{
  
        width: 96%;
        height: 98%;

    }

    .information-container{
        margin-top: 35%;
    }

    .icons{
        margin-top: 20%;
    }

    .mobile{
        display: none;
    }

    .desktop{
        display: block;
    }

    .card{
        margin-left: 20px;  
    }

    footer{
        margin-top: 0;
    }

}

@media (min-width: 2100px){

    body{
        font-size: 22px;
        grid-template-rows: 200px 250px auto;
    }

    ul .desktop{
        width: 1200px;
        padding: 20px;
    }

    ul .desktop li{
        margin-right: 20px;
        font-size: 30px;
    }

    .toggle-lang img{
        width: 90px;
    }

    .button-indicator, .toggle-button{
        height: 30px;
        width: 70px;
    }

    #ball{
        width: 30px;
        height: 40px;
    }



    h2{
        font-size: 2rem;
    }

    #border-profile{
       
        width: 70%;
        height: 80%;
       
    }

    .icons{
        margin-top: 5%;
    }

    .information-container{
        margin-top: 20%;
    }

    .icons i{
        margin-right: 40px;
    }

    .empty-skill{
 
        height: 20px;
    }

    .level-skill{
        height: 25px;
    }
}

@media (min-width: 4000px){

    body{
        font-size: 60px;

    }

    h1{
        font-size: 7.5rem;
    }

    ul .desktop{
        width: 1200px;
        padding: 20px;
    }

    ul .desktop li{
        margin-right: 40px;
        font-size: 70px;
    }

    .toggle-lang img{
        width: 130px;
    }

    .button-indicator, .toggle-button{
        height: 50px;
        width: 100px;
    }

    #ball{
        width: 50px;
        height: 60px;
    }

    .information-container{
        margin-top: 40%;
    }

    h2, h3{
        font-size: 65px;
    }

    #container-profile{
        height: 800px;
        margin-bottom: 400px;
    }

    #border-profile{
       
        width: 1300px;
        height: 943px;
    
    }

    
    #profile-pic{
        width: 1250px;
        height: 920px;
  
    }

    #icon-title{
        margin-top:50px;
        height: 150px;
    }

    .description{
        font-size: 50px;
    }

    .desktop-profile{
        width: 850px;
        padding: 40px;
    }

    .icons{
        margin-top: 100px;
    }

    .mobile{
        display: none;
    }

    .desktop{
        display: block;
    }

    .card{
        margin-left: 20px;  
    }

    footer{
        min-height: 100px;
    }

    .card .last-one{
        margin-bottom: 200px !important;
    }

    #skills span{
        width: 800px !important;
    }

    .empty-skill{
        width: 3000px;
        height: 50px;
    }

    .level-skill{
        height: 60px;
    }
}
